.none			{}
.red 			{color:#F60}
.vardana		{font-family:Verdana, Geneva, sans-serif; font-size:12px; background-color:#FF6}
.small			{font-family:Verdana, Geneva, sans-serif; font-size:11px; line-height:none}
.headline		{font-size:16px; color:#D33432}
.smallhl		{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-weight:bold; font-size:14px; display:block; border-bottom:1px dotted #CCC}