@import url("post.css");
/* basic structure  */
body		{border:0px; background-color:#FFF; padding:0px; margin:0px; color:#3E3E3E; font-size:14px; font-family: Verdana, Geneva, sans-serif }
#hContainer	{}
#header		{color:#3E3E3E; padding-top:5px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:42px; height:50px; width:950px; margin-left:auto; margin-right:auto; padding-left:5px}
#header a	{color:#3E3E3E; text-decoration:none;}
#body		{width:950px; margin-left:auto; margin-right:auto; display:table;}
#posts		{float:left; width:690px; padding-left:5px; padding-right:5px; display:table-cell; padding-top:15px;}
a 			{text-decoration:none; color:#3E3E3E;}
a:hover 	{color:#06C}
.tiny		{font-size:11px; font-family:Verdana, Geneva, sans-serif; line-height:normal;}
.hidden		{display:none}
#copyline	{text-align:center; color:#999; padding-top:10px; padding-bottom:10px; font-size:11px; }

/* home page */
.titlelist 				{margin-top:0px; padding-left:0px;  margin-left:0px;}
.titlelist li			{list-style:none; padding-left:0px; border-bottom:1px dotted #999999; margin-left:0px; padding-bottom:5px; padding-top:5px; margin-bottom:5px; padding-right:10px}
.titlelist .link a		{font-size:18px; color:#CC3300; padding-left:5px}
.titlelist .listfooter	{font-size:10px; padding-left:5px; padding-top:10px; color:#3E3E3E; margin-bottom:5px}
.titlelist .listfooter a	{color:#CC3300;}
.smalldes				{padding-left:5px; padding-top:10px; font-size:11px; line-height:1.8em}
.light					{font-size:11px; color:#666666}

/* Page Navigation */
.pagespan			{padding-top:10px; padding-bottom:20px; color:#3E3E3E; font-size:12px; font-family: Verdana, Geneva, sans-serif; text-align:center}
.pagespan a			{text-decoration:none; }

/* Search Path */
.breadcrumb			{font-size:11px; padding-left:5px;  padding-bottom:10px; }
.breadcrumb	a		{text-decoration:none;}

/* side */
#right				{float:right; width:235px; display:table-cell; background:#F5F5F5; padding-top:10px; padding-left:10px}
#right .list		{padding-left:0px; clear:both; padding-top:0px; margin-top:0px; padding-right:10px; list-style:none; font-size:11px; line-height:1.5em}
#right .title		{padding-top:3px; padding-bottom:3px; background:#333; color:#FFFFFF; clear:both; font-size:11px; padding-left:10px; font-weight:bold; margin-left:0px; margin-bottom:0px;}
#right .item		{margin-left:5px; padding-left:5px; padding-bottom:2px; border-bottom:1px dotted #999999; padding-top:2px; }

/* site footer */
#footer				{text-align:center; padding-top:10px; padding:50x; border-top:1px dotted #666;}
#footerbox			{width:950px; margin-left:auto; margin-right:auto; display:table; text-align:left}

/* footer widgets */
#footerbox .list		{float:left; background:#F5F5F5; margin-right:10px; width:200px; padding-left:0px; padding-top:0px; margin-top:0px; list-style:none; font-size:11px;}
#footerbox .title		{padding-top:3px; padding-left:10px; background:#333; color:#FFFFFF; clear:both; margin-left:0px; padding-bottom:3px; margin-bottom:5px; border-bottom:1px dotted #666; font-size:11px; font-weight:bold}
#footerbox .item		{margin-left:5px; padding-bottom:2px; border-bottom:1px dotted #666666; padding-top:2px; margin-bottom:3px;}

/* widgets */
.item .subset		{padding-left:5px; margin-left:5px}
.item .sub			{ }
.profileImg			{padding-right:10px; border:0px}

#AboutAuther		{margin-bottom:10px; clear:both}
#Authername			{font-weight:bold; margin-bottom:5px}
#Twitter_Feed a		{color:#069}

#SearchWidget .item {border-bottom:none; padding:3px; padding-left:0px; background:#000; padding-left:5px}
#SearchWidget		{}
#SearchWidget .text	{font-size:12px; border:1px solid #999; font-family:Verdana; color:#3E3E3E; padding:3px; width:175px; margin-right:5px;}
#SearchWidget .title {display:none}
#SearchWidget .searchbtn	{width:18px; height:18px; margin-top:3px; background-image:url(images/search.png)}

#contactform			{width:225px; padding-top:5px; padding-right:5px; padding-bottom:2px}
#contactform .item 		{background-image:none; padding-bottom:3px; padding-left:0px; border-bottom:none}
#contactform .myemail	{font-family:Verdana, Geneva, sans-serif; background:#CCCCCC; border:none; padding-left:23px; background-image:url(images/email.gif); background-repeat:no-repeat; font-size:11px; width:192px; height:18px; margin:0px; border:1px solid #CCC}
#contactform textarea	{font-family:Verdana, Geneva, sans-serif; background:#CCCCCC; border:none; font-size:11px;  border:1px solid #CCC; width:210px; height:70px;}
#contactform .sent		{width:auto; border:none; width:100px; height:18px; font-size:11px; font-family:Verdana, Geneva, sans-serif; color:#3E3E3E; background-image:url(images/grybtnbg1.gif)}

/* other widgets */
#Twitter_Feed	a	{}
#wishlistbtn		{margin-left:10px}

/* use for horizontal list, */
.buttonset			{padding:0px; margin:0px; list-style:none; clear:both; }
.buttonset li		{padding-left:10px; margin-bottom:5px; margin-top:2px; float:left; list-style:none; }

/* post */
.title				{margin-bottom:5px; font-size:24px; font-weight:normal}
.postdate			{font-size:11px; color:#999}
.blog				{font-size:11px; line-height:1.7em}
.blog a				{text-decoration:none; border-bottom:1px dotted #699;}
.blog ul			{border:1px dotted #CCD3C5; padding-left:0px; list-style:none; padding-right:0px; background-color:#333333; padding-top:10px; padding-bottom:10px; font-family:Verdana, Geneva, sans-serif; line-height:normal; font-size:11px}
.blog li			{padding-bottom:5px; padding-top:5px; margin-left:none; border-top:1px solid white; padding-left:20px; padding-right:5px}
.blog li:first-child {border-top:none; padding-top:none}
.innerimg			{max-width:500px} /* images inside the post body */

/* Post Download and Demo Buttons */
.btnbar				{display:table; text-align:center; margin:5px; width:665px; padding:10px;}
.demobttn			{padding:5px; cursor:pointer; margin:5px; display:inline; font-size:11px; font-weight:bold; background-image:url(images/btnstrip.png); color:#FFF; background-color:#03B2D1; border:1px solid #03B2D1; font-family:Verdana, Geneva, sans-serif; font-size:11px}
.demobttn a			{text-decoration:none; font-size:11px; font-weight:bold; color:#FFF}

/* code block */
.codeblock			{font-size:11px; background-color:#3E3E3E; line-height:normal; border:1px solid #CCC; overflow:auto; white-space:nowrap; max-height:500px; }
.codespace			{padding-bottom:2px; padding-top:2px; display:inline-block; }
.lineNumber			{color:#444444; padding-bottom:2px; margin-right:5px; padding-top:2px; background-color:#EEEEEE; width:30px; display:inline-block; text-align:right}
.linebreaker		{display:block; height:0px; border-bottom:1px solid #E4E4E4}
.hideline			{font-family:Verdana, Geneva, sans-serif; font-size:11px; line-height:normal; cursor:pointer; color:#666}
.toolclass			{background-image:url(../../images/codetoolbg.gif); line-height:normal; display:block; background-position:bottom; height:18px}

/* post footer */
.postinfo			{font-size:11px; clear:both; line-height:normal; margin-bottom:5px; color:#666; padding:5px; margin-left:5px; border-bottom:1px dotted #CCC}
.postinfo  a 		{text-decoration:none; border-bottom:1px dotted #699}
.smalltitle		 	{padding-top:10px; color:#1C282F; font-size:12px }
fieldset 			{-moz-border-radius-bottomleft: 7px; -moz-border-radius-bottomright: 7px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 7px; -webkit-border-radius: 7px; border-radius: 3px;} 

/* comment box and post footer */
#commentbox			{border:1px dotted #DBDBDB; background:#F2F2F2; text-align:left; margin-left:5px; margin-bottom:5px; padding:10px; }
#texta				{width:98%; overflow:auto; margin-top:5px; font-family:Georgia, "Times New Roman", Times, serif; font-size:12px; line-height:1.5em}
#commentbox	.text 	{width:250px; font-size:11px; font-family:Verdana, Geneva, sans-serif}
.gravatar 			{width:30px; float:left; margin-right:5px; border:1px solid #999; padding:2px}
.zebra1				{background-color:#FFF;}
.zebra2				{background-color:#F9F9F9;}
.cmts				{border:1px dotted #CCC; text-align:left; margin-left:5px; margin-bottom:5px; padding-top:10px; padding-left:10px; padding-right:10px;}
.cmts .nm			{font-size:11px; font-weight:bold}
.cmts a				{text-decoration:none; }
.cmts .replytothis	{text-align:right; font-size:10px; font-family:Verdana, Geneva, sans-serif; padding-bottom:10px; line-height:normal;}
.cmts .txt			{padding-top:10px; font-size:11px; color:#333333; line-height:1.5em; clear:both}
.redsmall			{padding-bottom:10px; padding-top:10px; font-size:11px; font-weight:bold; line-height:normal;}

/*  Forms */
.formfield				{display:table; padding-top:3px; width:100%; padding-bottom:2px;font-family:Verdana, Geneva, sans-serif; font-size:11px; line-height:normal; }
.label					{float:left; display:table-cell; font-size:11px; empty-cells:show; width:60px; text-align:right; }
.field					{float:left; display:table-cell; font-size:11px; color:#999}
.button					{font:Verdana, Geneva, sans-serif; cursor:pointer; line-height:normal; font-weight:bold; font-size:11px; width:100px !important; background-image:url(images/grybtnbg.gif); background-position:top; background-color: transparent; margin:0px; vertical-align: middle; padding-right:5px; padding-left:0px; padding-top:0px; padding-bottom:0px; border:0px; height:18px}
.button:hover			{background-image:url(images/grybtnbg1.gif);}
.buttonblu				{color:#FFFFFF; line-height:normal; font-weight:bold; font-size:11px; width:100px !important; background-image:url(images/blubtnbg.gif); background-position:top; background-color: transparent; margin:0px; vertical-align: middle; padding-right:5px; padding-left:0px; padding-top:0px; padding-bottom:0px; border:0px; height:18px}
.buttonblu:hover		{background-image:url(images/blubtnbg1.gif);}
#buttonline				{padding-top:5px; padding-left:10px; text-align:left}
#buttonline div			{margin-top:5px}

/* popup layer */
#onionskin				{z-index:1; background-image:url(images/strip.png); text-align:center; top:0px; left:0px; right:0px; bottom:0px; position:fixed; display:none}
#popupdiv				{z-index:2; text-align:left; margin:0px; background-color:#3E3E3E; overflow:auto; top:35px; left:10px; right:10px; bottom:10px; position:fixed; display:none}
#popuptoolbar			{z-index:3; text-align:left; font-family:Verdana; line-height:normal; font-size:11px; color:#3E3E3E; background-color:#373737; top:10px; left:10px; right:10px; height:25px; position:fixed; display:none}
#popuptoolbar #closetitle	{float:right; padding:5px; cursor:pointer; background-image:url(images/close_boxwite.gif); background-position:right; background-repeat:no-repeat; margin-right:5px; padding-right:20px; text-align:right}
#popuptoolbar .tools	{float:left; padding:5px; cursor:pointer}

/* Messages */
#errormsg			{margin-left:auto; margin-left:5px; margin-right:auto; text-align:left; margin-bottom:10px; z-index:99; margin-top:10px; color:#313142; background-color:#E7E5CE; border:1px solid #E9E4DA}
#errormsg .bdr		{border:1px solid #FFF; padding:5px; font-family:Verdana, Geneva, sans-serif; line-height:normal;}
#msg				{margin-left:auto;margin-right:auto; margin-bottom:10px; position:relative; z-index:99; width:500px; margin-top:10px; color:#313142; background-color:#E7E5CE; border:1px solid #98D357}
#msg .bdr			{border:1px solid #FFF; padding:5px; font-family:Verdana, Geneva, sans-serif; }


/* image gallery */
#igallerybox			{border:1px solid #CCC; max-width:260px; float:right; text-align:center; padding:5px; margin-left:10px}
.igalleryitem			{float:left; cursor:pointer; width:80px; height:80px; background-position:center; margin:2px; border:1px solid #CCC;}
#imgholder				{background-color:#000; text-align:center; }
.igalleryitemsml		{cursor:pointer; width:50px; height:50px; background-position:center; margin:2px; margin-top:10px; border:1px solid #CCC; display:inline-block;}
#bigimgpre				{cursor:pointer; padding-top:10px}