/* Clearlooks 2 */

/* Reset */
.clearlooks2, .clearlooks2 div, .clearlooks2 span, .clearlooks2 a {vertical-align:baseline; text-align:left; position:absolute; border:0; padding:0; margin:0; background:transparent; font-family:Verdana; font-size:11px; color:#000; text-decoration:none; font-weight:normal; width:auto; height:auto; overflow:hidden; display:block}

/* General */
.clearlooks2 {position:fixed;}
.clearlooks2 .mceWrapper {position:static}
.mceEventBlocker {position:fixed; left:0; top:0; background:url(img/horizontal.gif) no-repeat 0 -75px; width:100%; height:100%}
.clearlooks2 .mcePlaceHolder {border:1px solid #000; background:#888; top:0; left:0; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50)}
.clearlooks2_modalBlocker {position:fixed; left:0; top:0; bottom:0px; right:0px; background:#000; background-image:url(img/strip.png); opacity:0.7; -ms-filter:'alpha(opacity=60)'; filter:alpha(opacity=60); display:none}

/* Top */
.clearlooks2 .mceTop, .clearlooks2 .mceTop div {top:0; width:100%; height:30px;z-index:1}
.clearlooks2 .mceTop .mceLeft, .clearlooks2 .mceFocus .mceTop .mceLeft {background:url(img/t_l_.png); width:11px; }

.clearlooks2 .mceTop .mceCenter {right:11px; left:11px; width:100%; display:block; height:30px; background:url(img/grb.png); background-color:#FFF}
.clearlooks2 .mceFocus .mceTop .mceCenter {background:url(img/grb.png); background-color:#FFF}

.clearlooks2 .mceTop .mceRight {right:0; width:11px; height:30px; background:url(img/t_r_.png); background-position:top right; background-repeat:no-repeat}
.clearlooks2 .mceFocus .mceTop .mceRight {background:url(img/t_r_.png); background-position:top right; background-repeat:no-repeat}

.clearlooks2 .mceTop span { margin-top:1px; line-height:30px; z-index:2 }
.clearlooks2 .mceFocus .mceTop span {color:#FFF; font-weight:bold; text-align:center; padding-left:11px}


/* Middle */
.clearlooks2 .mceMiddle, .clearlooks2 .mceMiddle div {bottom:0;}
.clearlooks2 .mceMiddle {width:100%; height:100%;}
.clearlooks2 .mceMiddle .mceLeft {left:0; width:5px; height:100%; background:#FFF; top:5px; }
.clearlooks2 .mceMiddle span {top:30px; left:5px; width:100%; height:100%;}
.clearlooks2 .mceMiddle .mceRight {right:0; top:5px; width:5px; height:100%; background:#FFF }

/* Bottom */
.clearlooks2 .mceBottom, .clearlooks2 .mceBottom div {height:6px}
.clearlooks2 .mceBottom {left:0; bottom:0; width:100%}
.clearlooks2 .mceBottom div {top:0}
.clearlooks2 .mceBottom .mceLeft {left:0; width:5px; background:url(img/b_l.png); background-position:bottom; background-repeat:no-repeat}
.clearlooks2 .mceBottom .mceCenter {left:5px; width:100%; background:#FFF}
.clearlooks2 .mceBottom .mceRight {right:0; width:5px; background:url(img/b_r.png); background-position:bottom right; background-repeat:no-repeat}
.clearlooks2 .mceBottom span {display:none}
.clearlooks2 .mceStatusbar .mceBottom, .clearlooks2 .mceStatusbar .mceBottom div {height:23px}
.clearlooks2 .mceStatusbar .mceBottom .mceLeft {background:url(img/b_l.png); background-position:bottom; background-repeat:no-repeat}
.clearlooks2 .mceStatusbar .mceBottom .mceCenter {}
.clearlooks2 .mceStatusbar .mceBottom .mceRight {background:url(img/b_r.png); background-position:bottom right; background-repeat:no-repeat}
.clearlooks2 .mceStatusbar .mceBottom span {display:block; left:7px; font-family:Arial, Verdana; font-size:11px; line-height:23px}

/* Actions */
.clearlooks2 a {width:29px; height:26px; top:4px;}
.clearlooks2 .mceClose {right:3px; background:url(img/close.png); z-index:2; background-position:right; background-repeat:no-repeat}
.clearlooks2 .mceMin {display:none; right:68px; background:url(img/down.png); z-index:2; background-repeat:no-repeat; background-position:center}
.clearlooks2 .mceMed {display:none; right:30px; background:url(img/min.png); z-index:2; background-repeat:no-repeat; background-position:center}
.clearlooks2 .mceMax {display:none; right:30px; background:url(img/max.png); z-index:2; background-repeat:no-repeat; background-position:center}
.clearlooks2 .mceMove {display:none;width:100%;cursor:move; z-index:2;background:url(img/corners.gif) no-repeat -100px -100px}
.clearlooks2 .mceMovable .mceMove {display:block;  z-index:2;}
.clearlooks2 .mceFocus .mceClose {right:6px; z-index:2;  background:url(img/close.png); background-position:center; background-repeat:no-repeat}
.clearlooks2 .mceFocus .mceMin {right:68px; z-index:2; background:url(img/down.png); background-repeat:no-repeat; background-position:center}
.clearlooks2 .mceFocus .mceMed {right:30px; z-index:2; background:url(img/min.png); background-repeat:no-repeat; background-position:center}
.clearlooks2 .mceFocus .mceMax {right:30px; z-index:2; background:url(img/max.png); background-repeat:no-repeat; background-position:center}


/* Resize */
.clearlooks2 .mceResize {top:auto; left:auto; display:none; width:5px; height:5px; background:url(img/horizontal.gif) no-repeat 0 -75px}
.clearlooks2 .mceResizable .mceResize {display:block}
.clearlooks2 .mceResizable .mceMin, .clearlooks2 .mceMax {display:none}
.clearlooks2 .mceMinimizable .mceMin {display:block}
.clearlooks2 .mceMaximizable .mceMax {display:block}
.clearlooks2 .mceMaximized .mceMed {display:block}
.clearlooks2 .mceMaximized .mceMax {display:none}
.clearlooks2 a.mceResizeN {top:0; left:0; width:100%; cursor:n-resize}
.clearlooks2 a.mceResizeNW {top:0; left:0; cursor:nw-resize}
.clearlooks2 a.mceResizeNE {top:0; right:0; cursor:ne-resize}
.clearlooks2 a.mceResizeW {top:0; left:0; height:100%; cursor:w-resize;}
.clearlooks2 a.mceResizeE {top:0; right:0; height:100%; cursor:e-resize}
.clearlooks2 a.mceResizeS {bottom:0; left:0; width:100%; cursor:s-resize}
.clearlooks2 a.mceResizeSW {bottom:0; left:0; cursor:sw-resize}
.clearlooks2 a.mceResizeSE {bottom:0; right:0; cursor:se-resize}

/* Alert/Confirm */
.clearlooks2 .mceButton {font-weight:bold; bottom:10px; width:100px; font-family:Verdana; font-size:11px; height:18px; background:url(img/blubtnbg.png);  vertical-align:middle; text-align:center; outline:0}
.clearlooks2 .mceMiddle .mceIcon {left:15px; top:35px; width:32px; height:32px}
.clearlooks2 .mceAlert .mceMiddle span, .clearlooks2 .mceConfirm .mceMiddle span {background:transparent;left:60px; top:35px; width:320px; height:50px; font-weight:bold; overflow:auto; white-space:normal}
.clearlooks2 a:hover {font-weight:bold;}
.clearlooks2 .mceAlert .mceMiddle, .clearlooks2 .mceConfirm .mceMiddle {background:#D6D7D5}
.clearlooks2 .mceAlert .mceOk {left:50%; top:auto; margin-left: -40px}
.clearlooks2 .mceAlert .mceIcon {background:url(img/alert.gif)}
.clearlooks2 .mceConfirm .mceOk {left:50%; top:auto; margin-left: -90px}
.clearlooks2 .mceConfirm .mceCancel {left:50%; top:auto}
.clearlooks2 .mceConfirm .mceIcon {background:url(img/confirm.gif)}