<cfimport 
	taglib =	"../../system/ct"  
	prefix =	"ct">
<ct:quickCheck>
<cfif FileExists('#application.wh#users/thumb_#url.id#.jpg')>
	<cffile action="delete" file="#application.wh#users/thumb_#url.id#.jpg">
</cfif>
<cfif FileExists('#application.wh#users/#url.id#.jpg')>
	<cffile action="delete" file="#application.wh#users/#url.id#.jpg">
</cfif>