<cfprocessingdirective pageEncoding="utf-8">
<cfquery name="cmd" datasource="#application.ds#" username="#application.un#" password="#application.pw#">
select description, blogusername from bloguser where bloguserid = <cfqueryparam cfsqltype="cf_sql_integer" value="#val(url.id)#">
</cfquery>
<cfsavecontent variable="catsave"><cfoutput><cfif len(trim(cmd.description))>[cfprocessingdirective pageEncoding="utf-8">
<ul class="list" id="AboutAuther"><li class="title">[cfoutput>##widget.title##[/cfoutput></li><li class="list" id="Authername">#trim(cmd.blogusername)#</li><li class="list">
<cfif FileExists('#application.wh#users/thumb_#url.id#.jpg')><a href="#application.root##application.warehouse#/users/#url.id#.jpg" target="_blank"><img src="#application.root##application.warehouse#/users/thumb_#url.id#.jpg" align="left" class="profileImg" /></a></cfif>
#trim(cmd.description)#<div style="clear:both"></div></li></ul><div style="clear:both"></div>
</cfif></cfoutput></cfsavecontent>

<cfset catsave = replace(catsave,'[cf','<cf','all')>
<cfset catsave = replace(catsave,'[/cf','</cf','all')>
<cffile
	action 		= "write"
	mode		= "#application.chomd#"
	file 		= "#application.wh#users/about_#url.id#.cfm"
	output 		= "#trim(catsave)#"
	addNewLine 	= "No" 
	charset 	= "utf-8" >
<cfset session.msg ="Editor Saved">
<cflocation addtoken="no" url="#application.ork.uf('switch=edit&id=#url.id#')#">