<cfquery name="thisq" datasource="#application.ds#" username="#application.un#" password="#application.pw#">
	select * from bloguser where bloguserid = <cfqueryparam cfsqltype="cf_sql_integer" value="#val(url.id)#">
</cfquery>
