</div>
<!--- ****************************************************** --->
<!--- site footer                                            --->
<!--- ****************************************************** --->
<div id="footer">
<cfinclude template="../../#application.warehouse#/footer_widget_list.cfm">
<div id="copyline">
Powered by <a href="http://cflove.org/2011/09/teapot-coldfusion-blog-application.cfm">Teapot ColdFusion Blog</a>
</div>
</div>
</body></html>