<cfprocessingdirective pageEncoding="utf-8">
<cfsilent>
<cfinclude template="system/gatekeeper.cfm">
<cfinclude template="system/defaults.cfm">
</cfsilent>
<cfinclude template="system/header.cfm">
<cfinclude template="system/switch.cfm">
<cfinclude template="system/footer.cfm">