<cfparam name="attributes.field" default="">
<cfparam name="attributes.class" default="as">

<cfswitch expression="#thisTag.ExecutionMode#">
<cfcase value="start">
<div <cfoutput>class="#attributes.class#" id="#attributes.field#main">
<div style="float:left;"></cfoutput>
</cfcase>

<cfdefaultcase><cfoutput>
</div><div id="#attributes.field#box" class="asbox" onmouseout="asrest()" onmousedown="asnotoff()">
<ul id="#attributes.field#ul">
</ul>
</div>
</div></cfoutput>
</cfdefaultcase>
</cfswitch>