<cfif not StructKeyExists(session,'error')>
	<cfset session.msg = "Successfully Saved.">
	<cflocation addtoken="no" url="#application.ork.uf('id=#url.id#')#">
<cfelse>
	<cfloop collection="#form#" item="i">
		<cfset SetVariable('thisq.#i#',Evaluate('form.#i#'))>
	</cfloop>
</cfif>