html,body 		{margin:0; padding:0; height:100%; color:#333; font-family:Verdana; font-size:11px}

#header			{background-image:url(../images/headebg.png);  }/*height:39px;*/
#headerwrap		{height:39px; background-image:url(../images/top_bg_left.png); background-position:right top; background-repeat:no-repeat}
#footer			{padding:10px}

.toptab			{width:auto; float:left; height:27px; margin-top:12px; font-size:11px; cursor:pointer; font-family:Verdana; margin-left:3px; background-image:url(../images/tbgbg.png);}
.toptablft		{height:27px; width:4px; background-image:url(../images/tbgbglft.png); float:left}
.toptabrite		{height:27px; width:4px; background-image:url(../images/tbgbgrite.png); float:left}
.toptabmid		{float:left; padding-left:10px; padding-right:10px; padding-top:6px}
.sitename		{float:right; text-align:right; color:#000; font-size:12px; padding-top:5px; height:39px; padding-right:85px; background-image:url(../images/teapot_top.gif); background-position:right top; background-repeat:no-repeat}
#signout		{font-size:9px; font-weight:normal; }
#signout a		{text-decoration:none; color:#000}

#alertbox		{position:absolute; cursor:pointer; top:0px; left:100px; color:#FFF; font-weight:bold; height:30px; z-index:100; vertical-align:top; display:none;}
#alertbox .alertboxmsg	{background-image:url(../images/alrbg.gif); height:26px; background-position:top; padding-left:10px; padding-right:10px; background-repeat:repeat-x;}
.bigbox			{overflow-y:auto; padding:10px; font-family:Georgia, 'Times New Roman', Times, serif; font-size:14px}

.toptab:hover .toptablft 	{background-image:url(../images/tbgbglfth.png);}
.toptab:hover .toptabrite 	{background-image:url(../images/tbgbgriteh.png);}
.toptab:hover 		 		{background-image:url(../images/tbgbgh.png);}

.toptabsel				{width:auto; float:left; height:27px; font-size:11px; margin-top:12px; font-family:Verdana; cursor:pointer; margin-left:3px; background-image:url(../images/tbgbgs.gif);}
.toptabsel .toptablft	{height:27px; width:4px; background-image:url(../images/tbgbglfts.gif); float:left}
.toptabsel .toptabrite	{height:27px; width:4px; background-image:url(../images/tbgbgrites.gif); float:left}

#menubtm				{background-image:url(../images/submnubg.png); height:5px; background-position:bottom}
#submenu				{background-image:url(../images/submnubg.png); padding-left:10px; font-family:Verdana; font-size:11px; padding-top:3px; padding-bottom:1px; background-position:top;}
#submenubox				{padding-bottom:3px; padding-top:3px; display:block; clear:both;}
#submenubox a:link		{color:#000000; text-decoration:none; margin-left:5px; margin-right:5px;}
#submenubox a:visited	{color:#000000; text-decoration:none; margin-left:5px; margin-right:5px;}
#submenubox a:hover		{color:#FF6600; text-decoration:none; margin-left:5px; margin-right:5px;}
#submenusel a			{color:#C60}
.submenusel				{display:inline-block; display:-moz-inline-stack; background-color:#CDCECF; cursor:pointer; *display: inline; }

/* links */
.black:link			{text-decoration:none; color:#D33845;}
.black:visited		{text-decoration:none; color:#D33845;}
.black:hover		{text-decoration:none; color:#CC3300;}

a:link				{text-decoration:none; color:#00578E;}
a:visited			{text-decoration:none; color:#00578E;}
a:hover				{text-decoration:none; color:#CC3300;}

.input					{font-family:Verdana; font-size:11px}
.smlbtn					{width:100px; height:19px; background-image:url(../images/btn100.png); border:0px; padding:0px; font-size:11px}

/* bread crumb */
#breadcrumb				{border-bottom:1px solid #8B9BAA; background-color:#FFF; padding:4px;}
#breadCrumb a			{color:#930}

/* Grid */
.grid					{padding:10px; font-family:Verdana, Geneva, sans-serif; font-size:11px}
.grid table				{width:100%; border-right:1px solid #D6D6D6; border-left:1px solid #D6D6D6; background-image:url(../images/grd_bg.png); background-position:top; background-repeat:repeat-x}
.grid .gdtitle			{height:22px; background-image:url(../images/grd_ttl_bg.png); background-position:top}
.grid .gdtitle td		{color:#000; white-space:nowrap; height:22px;  padding-top:0px; padding-bottom:0px; background-image:url(../images/grd_ttl_lft.png); background-position:top; border-bottom:none;  border-left:none; background-position:left; background-repeat:no-repeat }
.grid td:first-child	{border-left:none; background-image:none}
.grid td				{padding-left:5px; padding-right:5px; color:#333; padding-top:5px; padding-bottom:5px; border-bottom:1px solid #EEE; border-left:1px solid #EEE}
.grid .sorttd			{cursor:pointer}
.grid .zibrablk			{background-color:#F8F8F8}
.grid .zibrablk:hover	{background-color:#FFC}
.grid .zibrawhite:hover	{background-color:#FFC}
.grid .navi				{background-color:#E9E9E9; background-image:url(../images/gd_btm.png); background-position:top; background-repeat:repeat-x; border-bottom:1px solid #EEE;; border-left:1px solid #D6D6D6;; border-right:1px solid #D6D6D6; padding:3px}
.grid .gnavbttnbox a	{text-decoration:none}
.grid .gnavbttnbox		{float:left}
.grid .gnavsrchbox		{padding-right:5px; display:block; text-align:right}
.grid .gselector		{font-family:Verdana, Geneva, sans-serif; font-size:11px; padding:0px; margin:0px; }
.grid .gpagejump		{font-family:Verdana, Geneva, sans-serif; font-size:11px; height:12px; padding:0px; margin:0px; width:18px}
.grid .gsearch			{font-family:Verdana, Geneva, sans-serif; font-size:11px; width:100px; height:12px;}
.grid .gbtn				{font-family:Verdana, Geneva, sans-serif; font-size:11px; width:61px !important; background-image:url(../images/grybtn.gif); background-position:top; background-color: transparent; margin:0px; vertical-align: middle; padding-right:5px; padding-left:0px; padding-top:0px; padding-bottom:0px; border:0px; height:18px}
.grid .selected			{background-color:#FF9}

/* post */
.cmticonred				{background-image:url(../images/cmt_bgr.gif); color:#FFF; height:16px; min-width:20px; display:inline-block}
.cmticon				{background-image:url(../images/cmt_bg.gif); color:#FFF; height:16px; min-width:20px; display:inline-block}
a.wite					{color:#FFF}
#imagegal .imagebox		{width:80px; position:relative; background-image:url(../images/stripbg.png); height:80px; border:1px solid #CCC; background-color:#EAEAEA; float:left; text-align:center; padding:2px; margin:2px}
#imagegal .idelete		{position:absolute; display:none; z-index:1; bottom:1px; background-color:black; color:white; cursor:pointer; width:72px; padding:4px}
#imagegal img			{border:2px solid white}

.formbar				{padding:5px; background-color:#EFEFEF; border-top:1px dotted #999}

/* form */
.form					{border:0px; padding:0px}
.formfield				{display:table; padding-top:10px; width:100%; padding-bottom:2px; }
.formfield .text 		{font-size:11px; min-width:250px; font-family:Verdana, Geneva, sans-serif}
.formfield .textbig		{border:0px; font-family:Georgia, "Times New Roman", Times, serif; font-weight:bold; color:#333}
.formfield .textbigdiv	{background-image:url(../images/inputbg.gif); display:inline-block; height:26px;}

.formfield .textarea 	{font-size:11px; min-width:250px; min-height:60px; font-family:Verdana, Geneva, sans-serif}
.formfield .label		{float:left; display:table-cell; empty-cells:show; padding-left:10px; width:130px; color:#394144; }
.formfield .field		{float:left; display:table-cell;}
.button					{font-family:Verdana, Geneva, sans-serif;cursor:pointer; font-weight:bold; font-size:11px; width:100px !important; background-image:url(../images/grybtnbg.gif); background-position:top; background-color: transparent; margin:0px; vertical-align: middle; padding-right:5px; padding-left:0px; padding-top:0px; padding-bottom:0px; border:0px; height:18px}
.button:hover			{background-image:url(../images/grybtnbg1.gif);}
.buttonbk				{font-family:Verdana, Geneva, sans-serif;cursor:pointer; font-weight:bold; font-size:11px; width:100px !important; background-image:url(../images/grybtnbgbk.gif); background-position:top; background-color: transparent; margin:0px; vertical-align: middle; padding-right:5px; padding-left:0px; padding-top:0px; padding-bottom:0px; border:0px; height:18px}
.buttonbk:hover			{background-image:url(../images/grybtnbgbk1.gif);}
.buttonblu				{font-family:Verdana, Geneva, sans-serif; cursor:pointer; color:#FFF; font-weight:bold; font-size:11px; width:100px !important; background-image:url(../images/blubtnbg.gif); background-position:top; background-color: transparent; margin:0px; vertical-align: middle; padding-right:5px; padding-left:0px; padding-top:0px; padding-bottom:0px; border:0px; height:18px}
.buttonblu:hover		{background-image:url(../images/blubtnbg1.gif);}
.formfield .list, .exlinks	{padding-top:5px}
.formfield a			{text-decoration:none; border-bottom:1px dotted #69C}
.hint					{color:#666; padding:5px}

/* error msg */
#msg				{display:inline-table; color:#FFF; background-image:url(../images/alrbg.gif); font-weight:bold; margin-bottom:5px; height:30px; background-color:#0FBEBB;}
#errmsg				{display:inline-table; background-image:url(../images/rdbg.gif); color:#FFF; font-weight:bold; margin-bottom:5px; height:30px; background-color:#ED1E1E;}
#msg a, #errmsg a	{color:#FFF} 

/* tab box */
.tabselect			{width:75px; padding-left:10px; background-image:url(../images/selarow.gif); background-position:center; background-repeat:no-repeat}
.tab				{width:75px; padding-left:10px; background-image:url(../images/tabbg.gif); cursor:pointer}
.tabboxtop			{border-top:1px solid #72ACBF; border-top:1px solid #72ACBF; padding:5px; width:780px; clear:both}
.tabbox				{width: 100%}
.tabhint			{border:1px solid #CCC; display:inline-block; background-color:#EAEAEA; padding:2px}

/* setting page */
.settingitem		{border-bottom:1px solid #F0F0F0; padding:5px; }
.settingitem:hover	{background-color:white}
.accordinghead		{background-color:#E8E8E8; clear:both; background-image:url(../images/stripbg.png); padding:5px; font-weight:bold; border:1px solid #CCC; cursor:pointer; margin:2px}
.accordinbox		{margin:2px; clear:both;}
/*tipsy */
.tipsy 				{ padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); }
.tipsy-inner 		{ padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner 		{ -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north 		{ background-position: top center; }
.tipsy-south 		{ background-position: bottom center; }
.tipsy-east 		{ background-position: right center; }
.tipsy-west 		{ background-position: left center; }

/* image box */
#imgbox 			{height:300px; overflow-y:scroll; overflow-x: hidden; padding:0; margin:0px}
.imgitem			{width:105px; height:105px;  float:left; position:relative; display:block; padding:2px; margin:5px; border:1px solid #FFF; cursor:pointer}
.imgitem:hover		{background-color:#EEF8FD; border:1px solid #D8F0FA}
#imgbox .imgwrap	{border: 1px solid #E0E0E0; display:inline-block; padding:3px; min-width:80px; min-height:80px; background:#FFF}
#imgbox .filename	{position:absolute; bottom:2px;  width:90px; overflow:hidden; height:15px; color:#666; }
#bigimg				{z-index:2; text-align:center; background-color:#000; border:5px solid #FFF; top:20px; left:20px; right:20px; bottom:20px; position:fixed; display:none}
#bigimg #imgmenu	{height:40px; text-align:left; padding:3px; bottom:0px; left:0px; right:0px; background-color:#fff; position:absolute}
#film				{z-index:1; background-image:url(../images/strip.png); text-align:center; top:0px; left:0px; right:0px; bottom:0px; position:fixed; display:none}
#bigimgpre			{border:1px solid #999; background-color:#FFF; margin-top:-5px}
.imgholder			{display:table; width:100%; padding:0px; margin:0px;}
.imgholder div		{display:table-cell; vertical-align:middle;}
#imginfo			{padding-left:10px; text-align:left}