<cfprocessingdirective pageEncoding="utf-8">
<cfquery name="thisq" datasource="#application.ds#" username="#application.un#" password="#application.pw#">
	select LinksId,LinksName,Link,note from links where linksid = <cfqueryparam cfsqltype="cf_sql_char" value="#url.id#">
</cfquery>