<cfimport 
	taglib =	"../../system/ct"  
	prefix =	"ct">
<ct:quickCheck>
<cfquery name="del" datasource="#application.ds#" username="#application.un#" password="#application.pw#">
	delete from links where linksid = <cfqueryparam cfsqltype="cf_sql_integer" value="#val(url.id)#">
</cfquery>