@import url("post.css");
/***************************************/
/* Style Sheet for Full Version layout */
/***************************************/

/* basic structure  */
body		{border:0px; padding:0px; margin:0px; color:#666; font-size:13px; font-family:Tahoma, Geneva, sans-serif}
#hContainer	{width:950px; min-height:50px; background-position:bottom left; background-image:url(images/header_left.gif); margin-left:auto; margin-right:auto; background-repeat:no-repeat}
#header		{display:block; background-color:#333; min-height:50px; background-image:url(images/header_right.gif); background-repeat:no-repeat; background-position:bottom right; padding-top:5px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:36px; width:924px; margin-left:21px; padding-left:5px}
#header a	{color:#FFF; text-decoration:none;}

#body		{width:950px; margin-left:auto; margin-right:auto; display:table;}
#posts		{float:left; width:675px; padding-left:15px; padding-right:10px; display:table-cell; padding-top:15px; border-right:1px dotted #A8A390;}
a 			{text-decoration:none; color:#666;}
a:hover 	{color:#930}
.tiny		{font-size:11px; font-family:Verdana, Geneva, sans-serif;}
.hidden		{display:none}

/* home page */
.titlelist 				{color:#333; font-size:20px; margin-top:0px; padding-left:0px; margin-left:0px}
.titlelist li			{list-style:none; border-bottom:1px dotted #A8A390; padding-bottom:5px; padding-top:5px; margin-bottom:5px; padding-right:10px}
.link a					{color:#AA501A}
.titlelist .listfooter	{font-family:Verdana, Geneva, sans-serif; font-size:11px; padding-top:10px; margin-bottom:5px}
.smalldes				{padding-top:5px; font-size:11px; color:#666; font-family:Verdana, Geneva, sans-serif }
.listfooter a			{color:#333;}

/* Page Navigation */
.pagespan			{padding-top:10px; padding-bottom:20px; font-size:13px; font-weight:bold; font-family: Arial, Helvetica, sans-serif; text-align:center}
.pagespan a			{text-decoration:none; color:#8DB739}

/* Search Path */
.breadcrumb			{padding-top:5px; padding-bottom:3px; font-weight:bold; margin-bottom:5px; font-size:14px;}
.breadcrumb	a		{text-decoration:none; }

/* side */
#right				{float:right; width:230px; display:table-cell; padding-top:10px; padding-left:10px; padding-right:5px}
#right .list		{padding-left:0px; clear:both; padding-top:0px; margin-top:0px; list-style:none; font-size:12px;}
#right .title		{width:225px; clear:both; font-weight:bold; padding-top:6px; clear:both; padding-bottom:5px; margin-left:0px; margin-bottom:0px; color:#9CC153; font-size:12px; font-family: Verdana, Geneva, sans-serif;}
#right .item		{padding-bottom:5px; background-image:url(images/redarrow.png); background-repeat:no-repeat; padding-left:15px; background-position:0px 4px; border-bottom:1px dotted #A8A390; margin-bottom:5px; font-family:Arial, Helvetica, sans-serif}

/* site footer */
#footer				{text-align:center; width:950px; margin-left:auto; margin-right:auto; padding-top:10px; padding:50x; border-top:1px dotted #A8A390}
#footerbox			{width:950px; margin-left:auto; margin-right:auto; display:table; text-align:left}
/* footer widgets */
#footerbox .list		{float:left; margin-right:10px; width:200px; padding-left:0px; padding-top:0px; margin-top:0px; list-style:none; font-size:12px; font-family: "droid-serif-1","droid-serif-2",Georgia,Times,serif;}
#footerbox .title		{padding-top:10px; padding-left:0px; clear:both; margin-left:0px; padding-bottom:3px; margin-bottom:5px; border-bottom:1px dotted #666; color:#930; font-size:18px; font-family: "droid-serif-1","droid-serif-2",Georgia,Times,serif;}
#footerbox .item		{margin-left:5px; padding-bottom:2px; border-bottom:1px dotted #E4E4E4; padding-top:2px; margin-bottom:3px;}

/* widgets */
.item .subset		{padding-left:10px; margin-left:0px; padding-left:0px}
.item .sub			{font-size:11px; list-style:none; background-image:url(images/graybullet.gif); padding-top:2px; background-repeat:no-repeat; padding-left:10px; background-position:0px 6px}
.profileImg			{margin-right:10px; margin-bottom:5px; border:1px solid #DDD; padding:2px;}

#AboutAuther		{margin-bottom:10px; clear:both; border-bottom:1px dotted #999; padding-bottom:10px;}
#AboutAuther .list	{font-family:Verdana, Geneva, sans-serif; font-size:11px}
#Authername			{font-weight:bold}

#SearchWidget .item {background-image:none; padding-bottom:10px; padding-left:5px}
#SearchWidget input	{font-family:Georgia, "Times New Roman", Times, serif; font-size:13px; width:180px; padding-left:3px; height:20px; margin:0px; border:1px solid #CCC}

#contactform			{background-color:#F4F4F4; padding-left:5px; padding-top:5px; padding-right:5px; padding-bottom:2px}
#contactform .item 		{background-image:none; padding-bottom:3px; padding-left:0px; border-bottom:none}
#contactform .myemail	{font-family:Georgia, "Times New Roman", Times, serif; color:#C60; padding-left:23px; background-image:url(images/email.gif); background-repeat:no-repeat; font-size:13px; width:192px; height:18px; margin:0px; border:1px solid #CCC}
#contactform textarea	{font-family:Georgia, "Times New Roman", Times, serif; color:#C60; font-size:13px; width:212px; height:70px;}
#contactform .sent		{width:auto; border:none; width:100px; height:18px; font-size:11px; font-family:Verdana, Geneva, sans-serif; color:#333; background-image:url(images/grybtnbg1.gif)}

/* other widgets */
#Twitter_Feed .item	{border-bottom:none; background-image:none; padding-left:0px}
#Twitter_Feed a		{color:#8DB739; padding:0px; margin:0px}
#Twitter_Feed #tweetextra	{padding-top:5px; padding-bottom:5px; border-bottom:1px dotted #A8A390;}


/* use for horizontal list, */
.buttonset			{padding:0px; margin:0px; list-style:none; clear:both}
.buttonset li		{padding-left:10px; margin-bottom:5px; margin-top:2px; float:left; list-style:none; }

/* post */
.title				{margin-bottom:5px; font-size:24px; font-weight:normal; color:#362C32}
.postdate			{font-size:11px; font-family:Verdana, Geneva, sans-serif; color:#666}
.blog				{}
.blog a				{text-decoration:none; border-bottom:1px dotted #699}
.blog ul			{border:1px dotted #CCD3C5; padding-left:0px; list-style:none; padding-right:0px; background-color:#E8F1E0; padding-top:10px; padding-bottom:10px; font-family:Verdana, Geneva, sans-serif; font-size:11px}
.blog li			{padding-bottom:5px; padding-top:5px; margin-left:none; border-top:1px solid white; padding-left:20px; padding-right:5px}
.blog li:first-child {border-top:none; padding-top:none}
.innerimg			{max-width:500px} /* images inside the post body */

/* Post Download and Demo Buttons */
.btnbar				{display:table; text-align:center; margin:5px; width:665px; padding:10px;}
.demobttn			{padding:5px; cursor:pointer; margin:5px; display:inline; font-size:11px; font-weight:bold; background-image:url(images/btnstrip.png); color:#FFF; background-color:#03B2D1; border:1px solid #03B2D1; font-family:Verdana, Geneva, sans-serif; font-size:11px}
.demobttn a			{text-decoration:none; font-size:11px; font-weight:bold; color:#FFF}

/* code block */
.codeblock			{font-family: Verdana, Geneva, sans-serif; font-size:11px; border:1px solid #CCC; overflow:auto; white-space:nowrap; max-height:500px; }
.codespace			{padding-bottom:2px; padding-top:2px; display:inline-block; }
.lineNumber			{color:#444444; padding-bottom:2px; margin-right:5px; padding-top:2px; background-color:#EEEEEE; width:30px; display:inline-block; text-align:right}
.linebreaker		{display:block; height:0px; border-bottom:1px solid #E4E4E4}
.hideline			{font-family:Verdana, Geneva, sans-serif; font-size:11px; font-size:11px; cursor:pointer; color:#666}
.toolclass			{background-image:url(../../images/codetoolbg.gif); line-height:normal; display:block; background-position:bottom; height:18px}

/* post footer */
.postinfo			{font-size:11px; clear:both; font-family:Verdana, Geneva, sans-serif; margin-bottom:15px; color:#666; padding:5px; margin-left:5px; border-bottom:1px dotted #CCC}
.postinfo  a 		{text-decoration:none; border-bottom:1px dotted #699}
.smalltitle		 	{padding-top:10px; color:#1C282F; font-size:14px; font-family: "droid-serif-1","droid-serif-2",Georgia,Times,serif;}
fieldset 			{-moz-border-radius-bottomleft: 7px; -moz-border-radius-bottomright: 7px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 7px; -webkit-border-radius: 7px; border-radius: 3px;} 

/* comment box and post footer */
#commentbox			{border:1px solid #DBDBDB; text-align:left; margin-left:5px; margin-bottom:5px; padding:10px; background-color:#F2F2F2}
#texta				{width:98%; overflow:auto; margin-top:5px; font-family:Verdana, Geneva, sans-serif;}
#commentbox	.text 	{width:250px; font-family:Verdana, Geneva, sans-serif; font-size:11px}
.gravatar 			{width:30px; float:left; margin-right:5px; border:none}
.zebra1				{background-color:#FFF;}
.zebra2				{background-color:#F9F9F9;}
.cmts				{border:1px solid #EEE; text-align:left; margin-left:5px; margin-bottom:5px; padding-top:10px; padding-left:10px; padding-right:10px;}
.cmts .nm			{font-size:18px;}
.cmts a				{text-decoration:none; color:#C30}
.cmts .replytothis	{text-align:right; font-size:10px; font-family:Verdana, Geneva, sans-serif; padding-bottom:10px;}
.cmts .txt			{padding-top:10px; font-size:11px; color:#333; font-family:Verdana, Geneva, sans-serif; clear:both}
.redsmall			{padding-bottom:10px; color:#C30; font-size:11px; font-family:Verdana, Geneva, sans-serif; font-weight:bold}

/*  Forms */
.formfield				{display:table; padding-top:3px; width:100%; padding-bottom:2px;font-family:Verdana, Geneva, sans-serif; font-size:11px }
.label					{float:left; display:table-cell; font-size:11px; empty-cells:show; width:60px; text-align:right; color:#394144; }
.field					{float:left; display:table-cell; font-size:11px; color:#999}
.button					{font:Verdana, Geneva, sans-serif; cursor:pointer; font-weight:bold; font-size:11px; width:100px !important; background-image:url(images/grybtnbg.gif); background-position:top; background-color: transparent; margin:0px; vertical-align: middle; padding-right:5px; padding-left:0px; padding-top:0px; padding-bottom:0px; border:0px; height:18px}
.button:hover			{background-image:url(images/grybtnbg1.gif);}
.buttonblu				{font:Verdana, Geneva, sans-serif; cursor:pointer; color:#FFF; font-weight:bold; font-size:11px; width:100px !important; background-image:url(images/blubtnbg.gif); background-position:top; background-color: transparent; margin:0px; vertical-align: middle; padding-right:5px; padding-left:0px; padding-top:0px; padding-bottom:0px; border:0px; height:18px}
.buttonblu:hover		{background-image:url(images/blubtnbg1.gif);}
#buttonline				{padding-top:5px; padding-left:10px; text-align:left}
#buttonline div			{margin-top:5px}

/* popup layer */
#onionskin				{z-index:1; background-image:url(images/strip.png); text-align:center; top:0px; left:0px; right:0px; bottom:0px; position:fixed; display:none}
#popupdiv				{z-index:2; text-align:left; margin:0px; background-color:#FFF; overflow:auto; top:35px; left:10px; right:10px; bottom:10px; position:fixed; display:none}
#popuptoolbar			{z-index:3; text-align:left; font-family:Verdana; font-size:11px; color:#FFF; background-color:#373737; top:10px; left:10px; right:10px; height:25px; position:fixed; display:none}
#popuptoolbar #closetitle	{float:right; padding:5px; cursor:pointer; background-image:url(images/close_boxwite.gif); background-position:right; background-repeat:no-repeat; margin-right:5px; padding-right:20px; text-align:right}
#popuptoolbar .tools	{float:left; padding:5px; cursor:pointer}

/* Messages */
#errormsg			{margin-left:auto; margin-left:5px; margin-right:auto; text-align:left; margin-bottom:10px; z-index:99; margin-top:10px; color:#313142; background-color:#E7E5CE; border:1px solid #E9E4DA}
#errormsg .bdr		{border:1px solid #FFF; padding:5px; font-family:Verdana, Geneva, sans-serif}
#msg				{margin-left:auto;margin-right:auto; margin-bottom:10px; position:relative; z-index:99; width:500px; margin-top:10px; color:#313142; background-color:#E7E5CE; border:1px solid #98D357}
#msg .bdr			{border:1px solid #FFF; padding:5px; font-family:Verdana, Geneva, sans-serif}


/* image gallery */
#igallerybox			{border:1px solid #CCC; max-width:260px; float:right; text-align:center; padding:5px; margin-left:10px}
.igalleryitem			{float:left; cursor:pointer; width:80px; height:80px; background-position:center; margin:2px; border:1px solid #CCC;}
#imgholder				{background-color:#000; text-align:center; }
.igalleryitemsml		{cursor:pointer; width:50px; height:50px; background-position:center; margin:2px; margin-top:10px; border:1px solid #CCC; display:inline-block;}
#bigimgpre				{cursor:pointer; padding-top:10px}