<cfset q 	= attributes.q>
<div class="title"><cfoutput>#request.this.label#</cfoutput></div>
<ul>
<cfoutput query="q">
	<li onclick="window.location='#application.ork.uf('id=#id#')#'" <cfif url.id eq id>class="listsel"<cfelse><cfif currentrow mod 2>class="list"<cfelse>class="listz"</cfif></cfif>>
	<cfif val(valid)>#name#<cfelse><i>#name#</i></cfif>
	</li>
</cfoutput>
</ul>