<cfparam name="attributes.tabs" 	default="">
<cfparam name="attributes.tabstart" default="0">

<cfswitch expression="#thisTag.ExecutionMode#">
<cfcase value="start">
<table class="tabbox" border="0" cellpadding="0" cellspacing="0"><tr>
<td width="11" valign="top"><img src="images/bxleft.gif" width="11" height="260" /></td>
<td style="border:1px solid #CCCCCC" valign="top">
	<table style="width: 100%; font-family:Verdana; font-size:11px; border-bottom:1px solid #4B4B4B" border="0" cellpadding="0" cellspacing="0" background="images/tabbg2.gif">
    <tr>
    <td width="55"><img src="images/tbbxstart.gif" width="55" height="44" /></td>
<cfset tabstart	= attributes.tabstart>
<cfset count	= tabstart>
<cfloop list="#attributes.tabs#" index="i">
<cfoutput>
	<cfset count	= 1+count>
    <cfif url.tab eq count>
    	<td id="tab#count#" class="tabselect" align="center"><a id="tab_l#count#" class="black" href="#application.ork.uf('tab=#count#','page,dir,order')#">#i#</a></td><td width="13"><img id="tab_i#count#" src="images/stabrite.gif" width="13" height="44" /></td>
        <cfset SetVariable('request.tab#count#','display')>
    <cfelse>
    	<td id="tab#count#" class="tab" align="center"><a id="tab_l#count#" href="#application.ork.uf('tab=#count#','page,dir,order')#">#i#</a></td><td width="13"><img  id="tab_i#count#" src="images/tabrite.gif" width="13"></td>
        <cfset SetVariable('request.tab#count#','none')>
    </cfif>
</cfoutput>
</cfloop>
<td background="images/tabbg.gif" align="right"><img src="images/tabxend.gif" /></td></tr>
</table><div id="tabedbox">
</cfcase>

<cfdefaultcase>
</div></td>
<td width="13" valign="top"><img src="images/bxrite.gif" width="13" height="227" /></td>
</tr>
</table>
</cfdefaultcase>
</cfswitch>

