<cfprocessingdirective pageEncoding="utf-8">
<cfquery name="thisq" datasource="#application.ds#" username="#application.un#" password="#application.pw#">
	select blogpostname,mblogpostID,created,pageviews,sticky,valid,url,publisheddate,blog,comment,demourl,smalldes from blogpost 
	where blogpostid = <cfqueryparam cfsqltype="cf_sql_integer" value="#val(url.id)#">
	and bloguser = #val(session.id)#
</cfquery>